.videoSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        width: 40%;

        .video{
            width: 100%;
        }
    }
}
@media(max-width: 800px){
    .videoSection{
        .container{
            width: 100%;
        }
    }
}