:root{
    --orange: #FF8000;
    --green: #4AC34A;
    --green-str: #006D35;
    --green-bkg: #005A32;
    --green-yellow: #9DFF00;
    --black: #323232;
    --grey: #E6EBE6;

    --font: "Montserrat", sans-serif;
}